*, *::before, *::after {
    box-sizing: border-box;
}

/* basic stuff */

html {
    height: 100vh;
}

body {
    display: flex;
    position: absolute;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(rgb(23,23,23), rgb(31,29,54)); */
    /* display: flex;*/
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#cbcbd2, #ffffff);
    /* border: 1px solid orange; */
    /* background-attachment: fixed; */
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.era {
    /* border: 2px solid red; */
    height: 70vh;
    position: absolute;
    margin: auto;
    width: fit-content;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: min(100px,13vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.5s ease;
    border-radius: 5%;
    opacity: 0;
}

.era-1990, .era-2000, .era-2010 {
    cursor: pointer;
    transition: transform 0.2s ease;
    
}

.era-1990:hover, .era-2000:hover, .era-2010:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    user-select: none;
    /* margin: auto; */
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 3px solid blue; */
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease;
    opacity: 1;         
    /* make opacity 1 whenever you need to add era */
}

.title-box {
    position: absolute;
    top: 0em;
    margin: 0;
    font-size: 2.5em;
    /* border: 2px solid green; */
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}

#title-symbol {
    display: inline;
    width: 19px;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.era-text {
    font-size: 0.5em;
}

/* 
#dd {
    display:inline;
    border: 1px solid red;
    width: 43px;
    display:flex;
    justify-content: space-around;
} */

.audio-clip {
    /* border: 2px solid green; */
    /* position: absolute; */
    margin-top: 3.5em;
    text-align: center;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (orientation: landscape) {

    .audio-clip {
        height: 45px;
    }


}

.audio-clip2 {
    display: none;
}

.text-instructions {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: min(1.3em,2.3vh);
}

audio {
    width: min(max(55vw,130px),210px);
    height: 4vh;
}

.word-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* position: absolute; */
    /* top:-1em; */
    height: 50vh;
    width: min(90%,45vh);
    /* border: 2px solid green; */
}
/* 
.word-box .text-instructions {
    border: 1px solid red;
} */

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid blue; */
    width: 100%;
    height: 90%;
    bottom: 0;
}

div[class|=row] {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 100%;
    height: 14%;
    transition: all 0.3s ease;
}

span[id|=box] {
    /* position: absolute; */
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 12%;
    border: 2px solid rgb(160, 157, 157);
    border-radius: 10%;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
    color:#f0f8ff;
    /* background: linear-gradient(#161620, #797777); */
}

.message-box {
    display: none;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: min(1.3em,2.3vh);
    width: fit-content;
    height: 20px;
    /* border: 1px solid red; */
    background: #f5f5f5;
    border:1px solid rgb(63, 63, 63);
    border-radius: 10px;
    transform: scaleX(1.2);
    z-index: 2;
}

.message-box2 {
    display: flex;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: min(1.3em,2.3vh);
    width: fit-content;
    height: 20px;
    /* border: 1px solid red; */
    background: #e2e1e1;
    border:1px solid rgb(63, 63, 63);
    border-radius: 10px;
    transform: scaleX(1.2);
    transition: all 0.1s ease;
    z-index: 2;
    cursor: pointer;
}

.clue2 {
    display: none;
    opacity: 0;
    transition: all 0.1s ease;
}

.message-box2:hover {
    transform: scale(1.3, 1.08);
}

/* 
.message-box::after {
    content: "";
    position: absolute;
    width: 40px;
    border:1px solid red;
    height: 25px;
    transform: scaleX(1.25);
    filter: blur(5px);
    background:#d8d8d8;
    z-index: -10;
    opacity: 0.7;
} */

.message {
    transform: scaleX(0.83);
}

.finish {
    display: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: min(1.3em,2.3vh);
    text-align: center;
    height: 3vh;
}

#link {
    text-decoration: underline;
    /* font-size: 1.2em; */
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid green; */
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    width: min(100%, 85vh);
    height: 17vh;
}

.keyboard > div {
    /* border: 1px solid red; */
    height: 31%;
    display: flex;
    justify-content: space-around;
}

#bksp, #enter {
    width: max(8.5%,20px);
}

.keyboard > div > div {
    cursor: pointer;
    background:rgb(223, 221, 221);
    border: 1px solid #707072;
    border-radius: 5%;
    padding: 2px;
    width: 9%;
}

.Backspace, .Enter {
    display: flex;
    padding: 0;
    justify-content: center;
}

.credits {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid green; */
    font-size: min(max(10px,1vh),3vh);
    /* bottom: 1vh; */
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

/* #github {
    border: 1px solid red;
} */

#github-logo {
    /* position: absolute; */
    /* border: 1px solid red; */
    width: 13px;
    /* padding: 5px; */
    /* height: min(max(20px,3vh),8vh); */
    /* height: 25px; */
    /* top: 100px; */
}

@keyframes green {
    0% {background: rgb(65, 179, 4, 0);}
    100% {background: rgb(125,183,0); color: #f0f8ff;}
}

@keyframes yellow {
    
    0% {background: rgba(224, 196, 11,0);}
    100% {background: rgba(224, 196, 11,1);color: #f0f8ff;}
}

@keyframes grey {
    0% {background: rgba(84, 81, 74,0);}
    100% {background: rgba(84, 81, 74,1);color: #f0f8ff;}
}

@keyframes zoom-in-out {
    0% {}
    100% {transform: scale(1.1);} 
}